.main{
    .search-page{
        margin-top: 8%;
        // width: 70%;
        .container{
            .slide{
                display: flex;
                justify-content: center;
                align-items: center;
                // flex-direction: column;
                flex-wrap: wrap;
                gap: 3%;
                row-gap: 4%;
                img{
                    width: 20%;
                    
                }
            }
        }
    }   
}