.container {
  h2 {
    color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-size: bold;
  }
  .slide {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    img {
      width: 100%;
      display: block;
      // height: auto;
      border-radius: 0.25rem;
    }
  }
}
