.section-two {
  align-items: center;
  padding: 0px 45px;
  .description {
    width: 50%;
    h2 {
      color: white;
      font-size: 40px;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.625rem;
      font-weight: 400;
      color: white;
    }
  }
  .tv {
    width: 50%;
    height: 438px;
    position: relative;
    img{
      width: 80%;
      height: 398px;
      position: absolute;
      z-index: 2;
    }
    .poster-video{
      position: absolute;
      width: 62%;
      height: 69%;
      z-index: 1;
      top: 40px;
      left: 66px;
    
    }
  }
}