.section-accordion {
  width: 100%;
  border-bottom: 8px solid #222;
  align-items: center;
  padding: 3% 20%;
  h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1.5rem;
  }
}
