.select {
    padding-bottom: 15px;
    select {
      background: transparent;
      color: #737373;
      padding: 8px 20px;
      border-radius: 3px;
      border: 1px solid #737373;
    }
    .icon {
      height: 20px;
      fill: #737373;
      position: absolute;
      margin-top: 10px;
      margin-right: 3px;
    }
  }