@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
#root {
  font-family: "Lato", sans-serif;
}
/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  font-family: "Lato" "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Apply all the css to headerLinks(li) */
@layer components {
  .headerLink {
    @apply cursor-pointer text-base text-lg text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }
}
/*Container*/
.container {
  max-width: 100%;
  width: 1275px;
  margin: 0 auto;
}
